.containerCard {
  position: relative;

  width: 12rem;
  height: 8rem;

  background-image: linear-gradient(
    330deg,
    var(--main-blue) 40%,
    var(--main-blue) 30%,
    var(--bg3) 41%
  );
  border-radius: 2px;
  border-width: 0px;

  margin-right: 5px;

  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 16px;
  margin-top: 1rem;
  text-align: center;
  cursor: default;
  user-select: none;
}

.cardBtn {
  color: var(--fg2);
  transition: background-color 0.2s;
  border-radius: 3px;
  border-style: none;
}

.cardBtn:hover {
  background-color: var(--bg1);
  transition: background-color 0.2s;
}

.openBtn {
  margin: auto;
  background-color: var(--bg2);
  width: 8rem;
  padding: 1vh 0vh 1vh 0vh;
}

.deleteButton {
  background-color: var(--bg3);
  position: absolute;
  right: 0.5vh;
  top: 0.5vh;
}
