
.cardTitle {
    font-size: 16px;
    margin-top: 1rem;
    text-align: center;
}

.containerCard {
    width: 12rem;
    height: 8rem;

    background-image: linear-gradient(330deg, var(--main-blue) 40%, var(--main-blue) 30%, var(--bg3) 41%);
    border-radius: 2px;
    border-width: 0px;

    display: flex;
    flex-direction: column;
}

.OpenBtn {
    margin: auto;
    width: 8rem;
    padding: 1vh 0vh 1vh 0vh;
    color: var(--fg2);
    background-color: var(--bg2);
    transition: background-color 0.2s;
    border-radius: 3px;
    border-style: none;
}

.OpenBtn:hover {
    background-color: var(--bg1);
    transition: background-color 0.2s;
}
