.issueListItem {
  background-color: var(--main-bg-soft);
  margin-bottom: 0.2vh;
  margin-right: 0.3vh;
  border-radius: 3px;
  user-select: none;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.issueListItem > button {
  color: var(--fg2);
  background-color: var(--main-bg-soft);
  transition: background-color 0.2s;
  border-radius: 2px;
  border-style: none;
  border-width: 1px;
  padding: 0vh 1vh 0vh 1vh;
}

.issueListItem > button:hover {
  background-color: var(--bg3);
  transition: background-color 0.2s;
}

.issueName {
  background-color: var(--main-bg-soft);
  color: var(--main-fg);
  border-style: none;
  margin-top: 1vh;
  margin-left: 1vh;
  max-width: 14rem;
  min-height: 3vh;
  overflow: hidden;

  font-size: 18px;
}

.issueNameDone {
  font-size: 14px;
}
