
.issue-list-item {
    background-color: var(--main-bg-soft);
    height: 5vh;
    margin-bottom: 2px;
    border-radius: 3px;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.issue-list-item > button {
    color: var(--fg2);
    background-color: var(--main-bg-soft);
    transition: background-color 0.2s;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-right: 1vh;
}

.issue-list-item > button:hover {
    background-color: var(--bg3);
    transition: background-color 0.2s;
}

.issue-name {
    background-color: var(--main-bg-soft);
    color: var(--main-fg);
    border-style: none;
    margin-left: 1vh;
    width: auto;
}

.issue-name::placeholder {
    opacity: 1;
    color: var(--main-fg);
}

.issue-name:focus {
    outline: 2px solid var(--fg4);
}
