
.navbar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 5vh;
}

.logoutButton {
    margin-right: 1vh;
    padding: 0.5vh;
    color: var(--main-bg-hard);
    background-color: var(--accent-orange);
    transition: background-color 0.2s;
    border-radius: 3px;
    border-style: none;
}

.logoutButton:hover {
    background-color: var(--main-orange);
    transition: background-color 0.2s;
}
.navbarlink {
    margin-left: 1vh;
    padding: 0.5vh;
}

.navstuff > a {
    border-radius: 3px;
    text-decoration: none;
    color: var(--fg2);
    background-color: var(--bg2);
    transition: background-color 0.2s ease;
}

.navstuff > a:hover {
    color: var(--fg1);
    background-color: var(--main-bg-hard);
    transition: background-color 0.2s ease;
}
