
.NewContainerBtn {
    width: 12rem;
    height: 8rem;
    padding: 3vh 0vh 3vh 0vh;
    color: var(--fg2);
    background-color: var(--bg2);
    transition: background-color 0.2s;
    border-radius: 3px;
    border-style: none;
}

.NewContainerBtn:hover {
    background-color: var(--bg1);
    transition: background-color 0.2s;
}
