
.about {
    background-color: var(--main-bg);
    color: var(--main-fg);
    margin-top: 5vh;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-section {
    text-align: center;
}
