.ContainerList {
  color: var(--main-fg);
  margin-top: 5vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
}

.ContainerListHeader {
  margin-top: 3vh;
  text-align: center;
}

.ContainerGrid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8vh;
  padding-bottom: 3vh;
}

.ContainerGridWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
