.loginWrapper {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  color: var(--main-fg);
  background-color: #504945;
  width: 350px;
  padding: 4vh 5vh 4vh 5vh;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  margin-right: 1vh;
  padding: 1vh;
  font-size: 18px;
  color: var(--main-bg-hard);
  background-color: var(--accent-orange);
  transition: background-color 0.2s;
  border-radius: 3px;
  border-style: none;
}

.loginButton:hover {
  background-color: var(--main-orange);
  transition: background-color 0.2s;
}

.registerButton {
  margin-right: 2vh;
  font-size: 18px;
  padding: 1vh;
  color: var(--main-bg-hard);
  background-color: var(--alt-blue);
  transition: background-color 0.2s;
  border-radius: 3px;
  border-style: none;
}

.registerButton:hover {
  background-color: var(--main-blue);
  transition: background-color 0.2s;
}

.submitLoginContainer {
  display: flex;
  flex-direction: column;
}

.trustDevice {
  display: flex;
  justify-content: center;
}

.loginRegisterButtons {
  display: flex;
  justify-content: center;
}

#persist {
  margin: 0.7vh;
}
