
.login {
    margin-top: 5vh;
    color: var(--main-fg);
}

.loginFormWrapper {
    background-color: #504945;
    padding: 30px 70px 30px 70px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginform-thing {
    padding-top: 3vh;
    display: flex;
    justify-content: center;

}

.btnLoginRow {
    display: flex;
    justify-content: center;
}

.btnLogin {
    width: auto;
}

.loginInput {
    padding-bottom: 20px;
}
