
:root {
    --main-bg: #282828;
    --main-fg: #ebdbb2;
    --main-orange: #fe8019;
    --main-red: #cc241d;
    --main-green: #98971a;
    --main-yellow: #d79921;
    --main-blue: #458588;
    --main-purple: #b16286;
    --main-aqua: #689d6a;
    --main-grey: #927384;

    --bs-body-bg: var(--main-bg);
}

html {
    height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
  height: 100%;
}

#root {
    height: 100%;
    background-color: var(--main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
